@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", serif;
  background-color: #5A1E76;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container{
  width: 500px;
  background-color: #2B0040;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  font-size: 1.2rem;
  gap: 12px;
}

.score {
  padding: 10px;
  height: 90px;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: medium;
  font-weight: bold;
}

.score.o{
  background-color: #F2B137;
}
.score.x{
  background-color: #31C3BD;
}
.score.draw{
  background-color: #BCDBF9;
}  

.score #score-x{
  font-size: xx-large;
}
.score #score-ties{
  font-size: xx-large;
}
.score #score-o{
  font-size: xx-large;
} 




.board{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 12px;
  margin-top: 20px;
}
.cell{
  background-color: #43115B ;
  border-radius: 1rem;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
}
.cell img{
  width: 80%;
  height: 80%;
  position: absolute;
  display: none;
}

.cell .filled{
  display:none;
}

.reset-button {
  border-radius: 0.5rem;
  font-size: x-large;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  height: 70px;
}

.message-box {
  text-align: center;
  position: relative;
  display: inline-block; 
}

.message-box img {
  margin-top: 20px;
  display: block;
  width: 100%; 
  height: auto;
}

#message-text {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: large;
  font-weight: bolder;
}